/* list.css

* {
  box-sizing: border-box;
} */
#map {
  margin-top: 20px;
 border-radius: 5px;
padding: 30px;
width: 60%;
height: 50%;
align-items: center;
border: 2px solid #F4EDDC;

}
input[type=text], select, textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
      padding: 5px 5px 5px 0;
      display: inline-block;

}
.container a {
  
            color:  #F4EDDC;

            text-decoration: none;
            
        }
		
button, input[type=submit] {
      font-size: 20px;
			border: 2px solid #F4EDDC;
            padding: 5px 10px;
            margin-right: 10px;
			border-radius: 5px;
            color: #F4EDDC;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.5);
    
}

button, input[type=submit]:hover {
  background-color: #de4e66;
 
}

.container {
  margin: 30px auto 30px auto;
  font-size: 30px;
background-color:#F4EDDC;
 border-radius: 5px;
  padding: 30px;
  width: 85%;
  align-items: center;
  
}
.leftdiv{
width: 45%;
height: 600px;
float:left;
margin: 10px;
padding:20px;
background-color: #de4e6620;
border-radius: 5px;
}
.rightdiv{
  width: 45%;
  height: 600px;
  float:left;
  margin: 10px;
  padding:20px;
  background-color: #de4e6620;
  border-radius: 5px;
  
  }
  #itemlLst{
    border: 2px solid #F4EDDC;
   
    
    border-radius: 5px;
   
    height: 65%;
    overflow-y: auto;
    margin: 10px;
    padding:10px;}
   

/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


